
.page {
}

.filter-container {
  box-shadow 0 1px 2px #dcdcdc
  background: white
  margin-top 4px
  margin-bottom 10px
  padding 10px

  .filter-item {
    margin 2px 10px
  }

  .buttons {
    margin 2px 10px
  }
}

.content-container {
  padding 10px
}
